<!--The content below is only a placeholder and can be replaced.-->
<div class="outer">
    <div class="middle">
        <div class="inner" *ngIf="payment == null">

            <b>Welcome</b>

        </div>
        <div class="inner" *ngIf="payment != null && selectedCurrency == null && paymentComplete == false">
                
            <span style="font-weight: bold; font-size: 30pt;">$ {{payment.amount | numeralPipe : '0,000.00' }}</span>
            <br/>&nbsp;<br/>
            <span style="font-weight: normal; font-size: 14pt;">Choose your currency:</span>
            <br/>
           
                <button *ngFor="let currency of currencies" class="btn currencyBtn" (click)="selectCurrency(currency)">
                    <img src="{{'assets/' + currency.symbol + '.png'}}" /><br/>
                    {{payment.amount * currency.rate | numeralPipe : '0,000.00000000' }} {{currency.symbol}}
                </button>
            
        </div>
        <div class="inner" *ngIf="payment != null && selectedCurrency != null && paymentComplete == false">
            <span style="font-weight: bold; font-size: 30pt;">$ {{payment.amount | numeralPipe : '0,000.00' }}</span>
            <br/>&nbsp;<br/>
            <img style="width: 200px" src="{{'assets/' + selectedCurrency.symbol + '.png'}}" />
            <br/>&nbsp;<br/>
            <span style="font-weight: normal; font-size: 14pt;">{{payment.amount * selectedCurrency.rate | numeralPipe : '0,000.00000000' }} {{selectedCurrency.symbol}}<br/></span>
            <br/>
            <qr-code [value]="paymentJsonValue" [size]="200"></qr-code>
        </div>
        <div class="inner" *ngIf="payment != null && paymentComplete == true">
            <img src="assets/checkmark.png" /><br/>&nbsp;<br/>
            <b>Payment succeeded</b>   
        </div>
    </div>
</div>

